html,
body,
#app {
  margin: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pc {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f {
  display: flex;
}
.jc {
  display: flex;
  justify-content: center;
}
.jb {
  display: flex;
  justify-content: space-between;
}
.ja {
  display: flex;
  justify-content: space-around;
}
.je {
  display: flex;
  justify-content: space-evenly;
}
.ac {
  display: flex;
  align-items: center;
}
.fc {
  display: flex;
  flex-direction: column;
}
.fcr {
  display: flex;
  flex-direction: column-reverse;
}
.frr {
  display: flex;
  flex-direction: row-reverse;
}
.nw {
  display: flex;
  flex-wrap: nowrap;
}
.w {
  display: flex;
  flex-wrap: wrap;
}

/* Webkit 浏览器 (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 5px; /* 滚动条宽度 */
  border-radius: 4px; /* 圆角半径 */
}

::-webkit-scrollbar-track {
  background: transparent; /* 滚动条背景颜色 */
  border-radius: 4px; /* 圆角半径 */
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4; /* 滚动条滑块颜色 */
  border-radius: 4px; /* 圆角半径 */
}

::-webkit-scrollbar-thumb:hover {
  background: #ababab; /* 滚动条滑块悬停时的颜色 */
  border-radius: 4px; /* 圆角半径 */
}
